<h1 class="mt-4">User</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">User List</li>
</ol>
<a routerLink="/usercreate"><button>Create new user</button></a>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <a style="text-decoration: none;"routerLink="/userview/1"><td>{{user.username}}</td></a>
        <td>{{user.mobile}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address}}</td>
        <td>
          <a [routerLink]="['/useredit',user.id]"><button>Edit</button></a>&nbsp;
          <a routerLink="/"><button>Delete</button></a>&nbsp;
        </td>
      </tr>
    </tbody>
  </table>