<h1 class="mt-4">Product</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Product Edit</li>
</ol>
<div class="container" style="margin-top:50px">
    <h2>Edit {{currentId}} </h2>
    <form [formGroup]="productForm" (ngSubmit)="updateForm()">
      <div class="form-group">
        <label for="">Product Name</label>
        <input type="text" class="form-control" formControlName="productname" [ngClass]="{'form-error':productForm.get('productname').touched && productForm.get('productname').invalid}">
      </div>
      <div class="form-group">
        <label for="">Price</label>
        <input type="number" class="form-control"formControlName="productprice"[ngClass]="{'form-error':productForm.get('productprice').touched && productForm.get('productprice').invalid}">
      </div>
      <div class="form-group">
        <label for="">Discount</label>
        <input type="number" class="form-control" formControlName="discount"[ngClass]="{'form-error':productForm.get('discount').touched && productForm.get('discount').invalid}">
      </div>
      <div class="form-group">
        <label for="">Type</label>
        <select class="form-control" formControlName="type" [ngClass]="{'form-error':productForm.get('type').touched && productForm.get('type').invalid}">
          <option value="el">Electronic</option>
          <option value="ga">Gadget</option>
        </select>
      </div><br>
      
      <input type="submit"[disabled]="!productForm.valid" class="btn btn-primary" value="Update">
    </form>
  </div>