<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6" *ngFor="let c of data">
        <app-card [cardcolor]="c.cardcolor" [cardtype]="c.cardtype"></app-card>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <app-chart></app-chart>
    </div>
    <div class="col-xl-6">
        <app-chart></app-chart>
    </div>
    <div class="col-xl-12">
        <app-chart></app-chart>
    </div>
    
</div>