<h1 class="mt-4">Product</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Product List</li>
</ol>
<a routerLink="/productcreate"><button>Create new Product</button></a>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
        <th scope="col">Discount</th>
        <th scope="col">Type</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <a style="text-decoration: none;"routerLink="/productview/1"><td>{{product.productname}}</td></a>
        <td>{{product.productprice}}</td>
        <td>{{product.discount}}</td>
        <td>{{product.type}}</td>
        <td>
          <a [routerLink]="['/productedit',product.id]"><button>Edit</button></a>&nbsp;
          <a routerLink="/"><button>Delete</button></a>&nbsp;
        </td>
      </tr>
    </tbody>
  </table>