<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Register Form</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name *" value="" />
                </div><br>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Mobile No *" value="" />
                </div><br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" value="" />
                </div><br>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" value="" />
                </div><br>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Register" />
                </div><br>
        </div>
    </div>
</div>